[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin Core
Comment=Connect to the QtumLite P2P Network
Exec=qtumlite-qt %u
Terminal=false
Type=Application
Icon=qtumlite128
MimeType=x-scheme-handler/qtumlite;
Categories=Office;Finance;
